@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-image: url(Background.jpg);
    /* source: https://unsplash.com/photos/Xyv-Wez4eWk */
    color: white;
}

img{
    max-width: 100px
}

header, table{
    background-color: rgb(109, 73, 73);
}

input{
    color: black;
    margin-bottom: 20px;
}

.container{
    padding:30px 20px 30px 20px;
    margin: 20px 0px 50px 20px;
    /* display: inline-block; */
    background-color:rgb(92, 91, 91) ;
    border-radius: 10px;
    max-width:400px;
    float: left;
}
.block{
    display: block;
    margin:10px;
}

.center{
    text-align: center;

}

.flex{
    display: flex;
    flex-direction: row;
    justify-content:center;
}
